%flexColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error__container {
  @extend %flexColumn;

  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100vh;
}

.error__box {
  @extend %flexColumn;

  align-items: center;
}

.error__redirection {
  @extend %flexColumn;

  align-items: center;
  gap: 2rem;

  img {
    width: 10rem;
  }
}
